<template lang="pug">
dl
  dt <slot />
  dd <a :href="'tel:+1' + cleaned">{{formatted}}</a> <a v-if="cell && number" :href="'sms:+1' + cleaned"> (or text)</a>
</template>

<script>
export default {
  props: {
    number: String,
    cell: Boolean,
  },
  computed: {
    cleaned() {
      return ("" + this.number).replace(/\D/g, "");
    },
    formatted() {
      var match = this.cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
      if (match) {
        return "(" + match[1] + ") " + match[2] + "-" + match[3];
      }
      return null;
    }
  }
}
</script>
