<template lang="pug">
  BContainer(fluid)#root.w-100.px-0
    BContainer.my-0.w-100.pb-4.px-0
      h1#countdown.w-100.mt-0.mb-4.text-center Julia + Alex<ClientOnly>{{inXdays}}</ClientOnly>
      BCarousel#carousel-fade(style="text-shadow: 0px 0px 2px #000" fade indicators img-width="768" img-height="360")
        BCarouselSlide(style="aspect-ratio: 2; object-fit: cover; object-position: 20% 10%;" :img-src="require('~/assets/images/blanket.jpg')")
        BCarouselSlide(style="aspect-ratio: 2; object-fit: cover; object-position: 80% 240%;" :img-src="require('~/assets/images/couch.jpg')")
        //BCarouselSlide(style="aspect-ratio: 2; object-fit: cover; object-position: 20% 20%;" img-src="https://photos.smugmug.com/photos/i-bKbzJgf/0/XL/i-bKbzJgf-XL.jpg")
        //BCarouselSlide(style="aspect-ratio: 2; object-fit: cover; object-position: 0% 0%;" :img-src="require('~/assets/images/tn.jpg')")
        BCarouselSlide(style="aspect-ratio: 2; object-fit: cover; object-position: 00% 10%;" :img-src="require('~/assets/images/tree_hug.jpg')")

    BNavbar.w-100.mb-3.p-0.sticky-top.bg-light(toggleable="md")#nav
      BNavbarBrand.font-weight-bold.px-3.d-md-none Julia + Alex<ClientOnly>{{inXdays}}</ClientOnly>
      BNavbarToggle.px-2(target="nav-collapse")
      BCollapse.w-100#nav-collapse(is-nav)
        BNav.w-100.px-0.mx-0.justify-content-center
          BNavItem(href="#story") Our Story
          BNavItem(href="#reception") Reception
          BNavItem(href="#food-and-activities") Food / Activities
          BNavItem(href="#accommodations") Accommodations
          BNavItem(href="#rsvp") RSVP
          BNavItem(href="#registry") Registry

    BContainer#content.w-100

      ////////////////////////////////////////////////////////////////////////////
      BRow.part#story
        BCol
          h2 Our Story
      BRow
        BCol.col-12.col-md-8
          p.
            Julia was born and raised in Hancock, where she attended Houghton Schools before moving on to Michigan Tech.
            At Tech, she studied Medical Laboratory Science and Secondary Education, earning her teaching certificate.
            Julia recently finished her Masters in Education with a focus on Learning Disabilities through NMU.
            (Don't ask her if undergrad at Tech or graduate at NMU was easier, it is a sore subject.)
            She is wrapping up her fifth year teaching, and is currently working with elementary special education students.
          p.
            Julia has been a member of Mont Ripley Ski Patrol for 12 years, and was recently awarded a National Appointment.
            In her spare time, Julia enjoys cooking, hiking in the Keweenaw, and hanging with her cats Leonard<!-- David--> and Raymond<!-- Quincy-->.
          p.
            Alex's favorite parts of Julia include her radiant smile, witty commentary, and ample sharp humor.
        BCol.col-12.col-md-4
          img(style="object-fit: cover" src="~/assets/images/ring_head.jpg")
      BRow
        BCol.col-12.col-md-4
          img(style="aspect-ratio: 1; object-fit: cover; object-position: 00% 0" src="~/assets/images/hand_chest.jpg")
        BCol.col-12.col-md-8
          p.
            Alex was born downstate, but as a very small sapling he was transplanted to L'Anse by his mother Beth.
            He went to high school in L'Anse, where he graduated valedictorian in 2008.
            Alex spent several years working various IT and software development jobs, rebuilding cars, and taking classes, eventually receiving "a few pieces of paper" from Michigan Tech, as he says.
            He worked in the automotive industry on power steering modeling and control from 2015-2018, staring intently at computer screens and out car and office windows.
            Alex always knew which way he was going on the weekends (north!), and was able to find work at an engineering company in the Keweenaw in 2019.
            Alex recently started a consulting business, <a href="https://lsa.solutions/">Lake Superior Algorithmic Solutions</a>.
          p.
            Julia's favorite parts about Alex are his handling of customer service representatives, and his vast vocabulary.

      BRow
        BCol.col-12
          p.
            Somehow, Julia and Alex never encountered each other, despite being at the same events several times (<a href="https://copperharbortrails.org/">Fat Tire Festival</a>, anyone?).
            Eventually, Alex reached out to Julia through a mutual friend.
            Together, Julia and Alex enjoy mountain biking, rock picking, skiing, and binging documentaries on Netflix.
            Julia still needs to learn to enjoy Lake Superior dinghy rides, but she is waiting until Alex's "yacht" at least has a cup holder (Alex note: will be installed summer 2022).
            Alex has some catching up to do on rock picking: Julia has a keen eye for agates and routinely outpicks him.

      ////////////////////////////////////////////////////////////////////////////
      BRow.part#reception
        BCol
          h2 Reception
      BRow
        BCol.col-12.col-md-6
          p.
            We are getting married in a private ceremony in the Keweenaw.
            We will hold our reception at <a href="https://www.northwindsadventures.com/">Northwinds Adventures</a> just outside of Houghton.
          table.mx-auto.my-4
            tbody
              tr
                th.p-2.px-4 Date
                td August 20, 2022
              tr
                th.p-2.px-4 Time
                td 2pm &ndash; late
              tr
                th.p-2.px-4 Location
                td <a href="https://www.northwindsadventures.com/">Northwinds Adventures<br/>14603 Love Lake Rd<br/>Atlantic Mine, MI 49905</a>

          p.
            Parking will be available on site.

        BCol.col-12.col-md-6
          #map-wrap(style="height: 30vh")
            ClientOnly
              LMap(:zoom=9 :center="[47.27,-88.3]")
                //var latLon = L.latLng(40.737, -73.923);
                //var bounds = latLon.toBounds(500); // 500 = metres
                //map.panTo(latLon).fitBounds(bounds);
                LTileLayer(url="https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png")
                LMarker(:lat-lng="[47.168333,-88.489167]")
                  LTooltip(:options="{ permanent: true }") Airport
                LMarker(:lat-lng="[47.1435868,-88.6883429]")
                  LTooltip(:options="{ permanent: true }") Reception
                LMarker(:lat-lng="[47.1805607,-88.6129113]")
                  LTooltip(:options="{ permanent: true }").
                    First Date
                    <br>
                    <img src="~/assets/images/anniversary.jpg"/>
                LMarker(:lat-lng="[47.4677607,-87.8891788]")
                  LTooltip(:options="{ permanent: true }").
                    Proposal
                    <br>
                    <img src="~/assets/images/proposal.jpg"/>
                LMarker(:lat-lng="[35.7867941,-83.4604824]")
                  LTooltip(:options="{ permanent: true }").
                    First Road Trip
                    <br>
                    <img src="~/assets/images/tn.jpg"/>
                //LMarker(:lat-lng="[44.262266212734225,-88.41156927049823]")
                  LTooltip(:options="{ permanent: true }") First Musical

      ////////////////////////////////////////////////////////////////////////////
      BRow.part#food-and-activities
        BCol.col-12.col-md-5
          h2 Food and Drink
          p We are providing food and beverages for all eaters and drinkers.
          ul
            li Taco bar starting at 5pm
            li Celebratory cake
            li Enough alcohol to drown an elephant
          p.
            If you're worried that we don't have you covered for food, just reach out!
        BCol.col-12.col-md-7
          h2 Activities
          p.
            We are going to have outdoor games, some kind of flat surface fit for dance shoes, and a campfire to make gooey s'mores.
            The venue has a lake, with boats and kayaks available for use.
            Prepare to have a fun-in-the-sun mingling, ladder-ball-tossing, heel-twisting good time well into the night, but note that the venue is grass-floored! (So leave the heeled shoes at home.)


      ////////////////////////////////////////////////////////////////////////////
      BRow.part#accommodations
        BCol
          h2 Accommodations
          p.
            Please let us know if you're interested in staying at the venue.
            On-site cabins are available to book at <a href="https://www.northwindsadventures.com/">Northwinds Adventures</a>.
            There will also be camping available and a "village" of canvas tents with hostel-style beds.
          p.
            Unfortunately, we scheduled our wedding during move-in weekend.
            If you need help finding accomodations, <a href="mailto:wedding@hirzel.us">reach out to us via email at wedding@hirzel.us</a> or text Alex at 906-231-0866 and we will help you.
            We do not have a block of local hotels reserved, however several options are available within 15 minutes:
          ul
            li <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/houghton/htnkw/hoteldetail">Holiday Inn Express</a> (close to Econo)
            li <a href="https://www.radissonhotelsamericas.com/en-us/hotels/country-inn-houghton-mi#">Country Inn and Suites</a> (dog-friendly, close to Walmart)
            li <a href="https://www.choicehotels.com/michigan/houghton/quality-inn-hotels/mi472">Quality Inn and Suites</a> (downtown Houghton)
            li <a href="https://www.cityofhancock.com/recreation-beach-campground.php">Hancock Campground</a> (Hancock)
          p.
          //p.
            (We are still investing whether Uber or Lyft will operate in this area.)


      ////////////////////////////////////////////////////////////////////////////
      BRow.part#rsvp
        BCol
          h2 RSVP
          p.
            Please use <a href="https://docs.google.com/forms/d/1ZcR-aJSYr8AzUYlBNVP4Y29zMiowFAIVGXhN9zQyBlM/viewform">this Google form</a> to RSVP and to help us plan our food:
          blockquote.
            <a href="https://docs.google.com/forms/d/1ZcR-aJSYr8AzUYlBNVP4Y29zMiowFAIVGXhN9zQyBlM/viewform">https://docs.google.com/forms/d/1ZcR-aJSYr8AzUYlBNVP4Y29zMiowFAIVGXhN9zQyBlM/viewform</a>


      ////////////////////////////////////////////////////////////////////////////
      BRow.part#registry
        BCol.col-12.col-md-8
          h2 Registry
          p.
            We will not have a gift registry.
            We feel satisfied with our posessions.
            Each having had our own homes, we are getting rid of more than we're taking in.

          //p.
            We feel satisfied with our posessions, and are fortunate to not need to request any gifts from friends or family as part of bringing our lives together.
            We each had our own homes, and are combining them into Alex's house in Ripley.
            This means we are actually getting rid of more things than we are taking on!
          h2 Thank you
          p.
            Whether or not you can make it, we appreciate your support in our lives.
            If you're not able to make it, we will celebrate with you somehow next time we see you!
        BCol.col-12.col-md-4
          //img.w-100(style="aspect-ratio: 2; object-fit: cover; object-position: 20% 10%;" src="~/assets/images/tree_hug.jpg")
          img.w-100(style="width: 80%; object-fit: cover;" src="~/assets/images/winter_hike.jpg")

</template>


<style lang="scss">
/* prevents the headers from being occluded by the navbar */
html {
  scroll-padding-top: 100px;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

@include media-breakpoint-down(sm) {
  #countdown {
    /* there is a countdown on the hamburger row */
    display: none;
  }
}
@include media-breakpoint-up(md) {
  #countdown {
    @include font-size($display2-size);
    font-weight: $display2-weight;
    line-height: $display-line-height;
  }
}
@include media-breakpoint-up(lg) {
  #countdown {
    @include font-size($display1-size);
    font-weight: $display1-weight;
    line-height: $display-line-height;
  }
}

@include media-breakpoint-down(md) {
  #content div {
    // just so we know when we're in mobile medium/small
    //background-color: yellow !important;
  }
}

// space things out a bit more vertically on desktop, but keep tight on mobile
.row:not(#nav).part .col {
  padding-top: 1ex;
  @include media-breakpoint-up(md) {
    padding-top: 3ex;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 6ex;
  }
}

#nav + .row:not(#nav) {
  padding-top: 80px;
  margin-top: 0px;
}

.row:not(#nav) {
  padding-top: 80px;
  margin-top: -80px;
}

@include media-breakpoint-up(lg) {
  .nav-link {
    // this needs to be tuned by hand
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.nav-link.active {
  text-decoration: underline;
}

.row:not(#nav) p {
  text-align: justify;
  clear: both;
}

.container img, .col img {
  width: 100%;
}

.container > img, .col > img {
  /* need to be careful to avoid catching the images within the map */
  box-shadow: 10px 10px 5px #bbb;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

th { font-weight: bold; text-align: right; }
</style>

<script>
/* https://github.com/vue-leaflet/Vue2Leaflet/issues/207#issuecomment-573180888 */
let Vue2Leaflet = {}
if (process.client)
  Vue2Leaflet = require('vue2-leaflet')

export default {
  components: {
    "LMap": Vue2Leaflet.LMap,
    "LTileLayer": Vue2Leaflet.LTileLayer,
    "LMarker": Vue2Leaflet.LMarker,
    "LTooltip": Vue2Leaflet.LTooltip,
  },
  head: {
    bodyAttrs: {
      class: 'bg-light'
    }
  },
  computed: {
    inXdays: function () {
      var today = new Date()
      var wed = new Date(2022, 8-1, 18)
      var one_day = 1000*60*60*24
      var days = Math.ceil((wed.getTime() - today.getTime())/one_day)
      if (days > 0)
        return " (in " + days + " day" + (days == 1 ? "" : "s") + ")"
      else if (days < 0)
        return " (" + (-days) + " day" + (days == -1 ? "" : "s") + " and counting)"
      else
        return " = today!"
    }
  }
};
</script>
