<template lang="pug">
  BContainer.w-100(fluid)
    BRow
      BCol
        img#tree.float-left(src="~/assets/images/eastern_white_pine.png")
        img#branch.float-right.mt-2.ml-4.mr-0(src="~/assets/images/eastern_white_pine_branch.png")
        img#map.float-right.mt-2.ml-4(src="~/assets/images/eastern_white_pine_range.gif")
        h1 Planting Instructions
        p.
          Congratulations on your newly adopted eastern white pine tree (<i>pinus strobus</i>).
          It will provide shade, love and scraggle for years to come.
          The eastern white pine is hardy, loves long basks in the sun (4 hours a day) and enjoys well-drained soil.
          Native to northeastern north america, your new tree is huggable until age 3 when its branches will outgrow the span of your arms.
          It will shoot up fast (a foot or more per year), and eventually lose enough lower branches to be huggable again.
          When you plant it (in the next week!), dig a hole one foot in diameter and backfill with potting soil.
          Consider acidifying the soil each spring with fertilizer.
          Foraged needles from other pines make great ground cover for this one, holding moisture and keeping the soil cool.
          Ensure your new tree is well-watered (with wet soil an inch under the surface) for the rest of the summer.
        //h2 Additional Resources
        div.mt-4
          QRCode.my-auto.d-block.float-left.mr-4(:size="2/2.54*96" text="https://www.fs.fed.us/database/feis/plants/tree/pinstr/all.html")
          p(style="padding-top: 0.7em")
            b More info on your new eastern white pine can be found online:
            br
            span &nbsp; &nbsp;
            a(href="https://www.fs.fed.us/database/feis/plants/tree/pinstr/all.html") https://www.fs.fed.us/database/feis/plants/tree/pinstr/all.html
</template>
<style>
#tree {
  padding-right: 2em;
}
#branch {
  position: relative;
  z-index: 10;
  margin-bottom: 1em;

  padding-top: 3em;
}
#map {
  height: 5cm;
  width: 5cm;

  position: relative;
  margin-right: -3.5em;
  margin-bottom: 1em;
  z-index: 5;
}
p {
  text-align: justify;
}
[href], [href]:hover {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
}
</style>
