<template lang="pug">
  BContainer
    p This page tracks the trees that we gave away on August 20, 2022.
</template>
<style lang="scss">
</style>
<script>
export default {
  data() {
    return {
      trees: [
        { _uid: "BUY6Drn9e1", component: "foo", headline: "Foo" },
        { _uid: "gJZoSLkfZV", component: "bar", title: "Bar" },
        { _uid: "X1JAfdsZxy", component: "foo", headline: "Another headline" }
      ]
    }
  },
  head() {
    return {
      title: "Tree Tracker"
    }
  },
}
</script>
